*{
	margin:0;
	padding: 0;
}
body{color:#333;font-size: 14px;}
ul{
	list-style: none;
}
a{text-decoration: none;}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}
@font-face {
  font-family: 'iconfont' !important;  /* project id 238976 */
  src: url('//at.alicdn.com/t/font_h1mbnrcvi0pmn29.eot');
  src: url('//at.alicdn.com/t/font_h1mbnrcvi0pmn29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_h1mbnrcvi0pmn29.woff') format('woff'),
  url('//at.alicdn.com/t/font_h1mbnrcvi0pmn29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_h1mbnrcvi0pmn29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.navbar{
	width: 100%;
	padding: 21px 0;
	background-color:rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.nav-wrap{
	max-width: 1000px;
	margin: 0 auto;
}
.nav-wrap>a{
	color: #fec503;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-size: 24px;
}
.nav-wrap ul li{
	float: left;
	margin-left: 20px;
}
.nav-wrap ul li a{
	color:#fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-wrap ul li a:hover{
	color:#fed136;
}
.main-wrap{
	margin-top: 70px;
}
.section-wrap{
	width: 100%;
}
.section-wrap>div{
	max-width: 1000px;
	padding-top: 100px;
	height: auto;
	margin: 0 auto;
}
.header-wrap{ 
	background: url(http://p1.bqimg.com/567571/2932205b52f4a5ae.jpg) no-repeat center center;
}
#header{
	padding:360px 0 240px 0;
	text-align: center;
}
#header p{
	color:#fff;
}
#header .welcome{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
}
#header .greet{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 50px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	padding: 20px 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	background-color:#fed136;
	border: 1px solid #fed136;
	border-radius:3px;
	color: #fff;
}
.section-title{
	text-align: center;
}
.section-title h2{
	font-size: 40px;
	margin-bottom: 15px;
}
.section-title p{
	color: #666;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
}
#services .iconfont{
	font-size: 45px;
	color: #fff;
}
#services .icon-wrap{
	display: inline-block;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 115px;
	background: #fed136;
	border: 1px solid #fed136;
	border-radius:50%;
	margin-bottom: 20px;
}
.services-wrap>div{
	float: left;
	width: 33.33333%;
	box-sizing:border-box;
	text-align: center;
	padding: 0 10px;
}
.services-wrap h4{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.services-wrap>div>p{
	text-align: center;
	color: #666;
	line-height: 1.5;
}