html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';color:#333333; background-color:#fff;position:relative;z-index:1;font-size:14px}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;outline:none}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
input{outline:none}
textarea{resize: none;outline: none;}
select{outline: none;font-family: Microsoft yahei;text-indent: 1em;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
::-webkit-input-placeholder { color:black; }
::-moz-placeholder { color:black; } /* firefox 19+ */
:-ms-input-placeholder { color:black; } /* ie */
input:-moz-placeholder { color:black; }
.fl{float: left;}
.fr{float: right;}


.yp-main{
	background: white;
	width: 100%;
	height: auto;
}
.yp-top>img{
	max-width: 100%;
	min-width: 1200px;
	height: auto;
}
.yp-info{
	position: relative;
	height: 800px;
	width: 1200px;
	margin: 40px auto;
}
.yp-bottom{
	font-size: 18px;
	color: #727373;
	position: relative;
	top: 470px;
}
.yp-bottom img{
	max-width: 100%;
	min-width: 1200px;
	height: auto;
	position: absolute;
	bottom: 0px
}
.yp-bottom div{
	position: absolute;
    left: 50%;
    width: 380px;
    height: 100px;
    margin-left: -190px;
    bottom: 50px;
    text-align: center;
  }
 .yp-bottom div p{
  	height: 32px;
 }
 .yp-info-left{
  	width: 280px;
  	float: left;
 }
.yp-info-left .yp-t1{
  	float: left;
 }
.yp-info-left .yp-t1 button{
 	width: 76px;
  	height: 50px;
  	border-radius: 3px;
  	display: block;
  	color: white;
  	margin-bottom: 12px;
  	font-size: 12px;

 }
.yp-info-left .yp-t2{
    width: 114px;
    height: 115px;
    margin: 0px 6px;
    background: url(../images/yp-titile.png) no-repeat;
    text-align: center;
 }
 .yp-info-left .yp-t2 img{
 	border-radius: 50%;
 	margin: 18px 18px;
 }
.yp-t1 .t1-a1{
	background: #98cc3b;
 }
.yp-t1 .t1-a2{
	background: #ff9900;
 }
.yp-t1 .t1-a3{
	background: #28caf2;
 }
.yp-t1 .t1-a4{
	background: #ffd01d;
 }
 .yp-t1 em{
 	display: block;
 	font-size: 14px;
 	font-weight: bold;
 }
.yp-hz button{
	width: 280px;
	height: 50px;
	background: #78c400;
	color: white;
	border-radius: 3px;
	margin: 23px 0px;
	font-size: 16px;
}
.yp-ph{
	border:1px solid #d2d2d2;
	border-radius: 5px;
}
.yp-ph button{
	background: #ff5d26;
	color: white;
	font-size: 16px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 279px;
	height: 45px;
}
.yp-no{
	position: relative;
	height: 230px;
}
.yp-no li{
	float: left;
	text-align: center;
}
.yp-no2{
	position: absolute;
	bottom: 0px;
	left: 40px;
}
.yp-no2 div{
	border:2px solid #d2d2d2;
	background: #c3d600;
	height: 80px;
}
.yp-no1{
	position: absolute;
	bottom:0px;
	left: 112px 
}
.yp-no1 div{
	border:2px solid #d2d2d2;
	background: #f9be00;
	height: 100px;
}
.yp-no3{
	position: absolute;
	bottom: 0px;
	left:185px;
}
.yp-no3 div{
	border:2px solid #d2d2d2;
	background: #00a0e8;
	height: 70px;
}
.yp-no em{
	font-weight: bold;
	display: inline-block;
	margin: 5px 0px;
}
.yp-last li{
	height: 55px;
	border-top: 1px solid #d2d2d2;
}
.yp-last img{
	display: inline-block;
    vertical-align: top;
    margin:8px 5px;
}
.yp-last em{
	display: inline-block;
    border-right: 1px solid #d2d2d2;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    margin-top: 8px;
    width: 52px;
    text-align: center;
}
.yp-last label{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	width: 7em;
	margin-top: 15px;
}
.yp-last span{
	display: inline-block;
    background: url(../images/yp-mony.png) no-repeat;
    height: 20px;
    width: 35px;
    padding-left: 25px;
    color: #fdb12d;
}
.yp-info-right{
	width: 900px;
	float: left;
	margin-left: 20px;
}
.yp-y1{
    background: #d69320;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    color: #bb7929;
    position: absolute;
    top: 7px;
    left: 7px;
    line-height: 53px;
    cursor: pointer;
}
.yp-yuu{
    cursor: pointer;
    display: inline-block;
    width: 72px;
    height: 72px;
    line-height: 72px;
    border-radius: 50%;
    background: #ffaf24;
    text-align: center;
    position: absolute;
    top: -71px;
    z-index: 99;
}
.yp-yuu span{
	display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #d69320;
    margin: 10px 0px;
    color: #bb7929;
    font-size: 38px;
    font-weight: bold;
    line-height: 52px;
}.yp-yuu:hover{
	opacity: 0;
}
.yp-ma{
    position: relative;
    float: left;
    margin: 1px 8px;
}
/*.wheel-button:hover{
	width: 72px;
	height: 72px;
	background: url('../images/yp-hover.png') no-repeat;
	z-index: 99999999999999999999;
}
.wheel-button:hover{
	width: 72px;
	height: 72px;
	background: url('../images/yp-hover.png') no-repeat;
	z-index: 99999999999999999999;
};*/

.wheel-button, .wheel-button:visited{
	position: absolute;
    top: -71px;
}
.yp-right-f{
	float: left;
	margin-top: 100px;
}
.yp-right-y{
    width: 358px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 17px;
}
.yp-maf{
	position: absolute;
    top: 77px;
    left: 8px;
}
.yp-date{
	float: left;
	width: 160px;
	text-align: center;
}
.yp-date dt button{
	width: 112px;
	height: 40px;
	background:#a9b5d3;
	border-radius: 3px;
	color: white;
}
.yp-date dd button{
	width: 155px;
	height: 40px;
	border:2px solid #a9b5d3;
	border-radius: 3px;
	background: white;
}
.yp-date dd span{
	display: inline-block;
	width: 8px;
	height: 75px;
	background: #a9b5d3;
	margin-bottom: -5px;
}
.yp-jp{
	position: absolute;
	top: 0px;
	right: -70px;
}
.yp-jp button{
	border-radius: 3px;
	width: 70px;
	height: 73px;
	color: white;
	text-align: center;
	background:url('../images/yp-jp.png')no-repeat 20px 12px #78c400;
	padding-top: 45px;
}
/************************辅导员首页****************************/
.yp-tea-top{
	min-width: 1200px;
	max-width: 100%;
}
.yp-tea-li{
	width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -55px;
    font-size: 20px;
    color: white;
}

.yp-tea-li li{
	border-left: 1px solid white;
    height: 45px;
    line-height: 45px;
    float: left;
    width: 195px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.yp-tea-li ul li:nth-child(6){
	border-right: 1px solid white;
}
.yp-tea-li .yp-l1 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l1.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l2 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l2.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l3 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l3.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l4 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l4.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l5 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l5.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l6 i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l6.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l1:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l1-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l1-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l1-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l1-list span{
	color: #ffff26;
}
#yp-l2-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l2-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l2-list span{
	color: #ffff26;
}
#yp-l3-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l3-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l3-list span{
	color: #ffff26;
}
#yp-l4-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l4-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l4-list span{
	color: #ffff26;
}
#yp-l5-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l5-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l5-list span{
	color: #ffff26;
}
#yp-l6-list i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l6-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
#yp-l6-list span{
	color: #ffff26;
}
.yp-tea-li .yp-l1:hover span{
    color: #ffff26;
}
.yp-tea-li .yp-l2:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l2-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l2:hover span{
	color: #ffff26;
}
.yp-tea-li .yp-l3:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l3-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l3:hover span{
	color: #ffff26;
}
.yp-tea-li .yp-l4:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l4-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l4:hover span{
	color: #ffff26;
}
.yp-tea-li .yp-l5:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l5-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l5:hover span{
	color: #ffff26;
}
.yp-tea-li .yp-l6:hover i{
	display: inline-block;
	position: absolute;
    left: 72px;
    top: -45px;
    background: url('../images/yp-l6-h.png') no-repeat;
    width: 50px;
    height: 58px;
}
.yp-tea-li .yp-l6:hover span{
	color: #ffff26;
}
.yp-tea-f{
	float: left;
}
.yp-tea-f h3{
	display: inline-block;
	color: black;
	font-size: 18px;
	margin-right: 15px;
}
.yp-tea-f input{
	border:1px solid #fc6e51;
    width: 145px;
    height: 32px;
    margin-right: 15px;
    background: url('../images/yp-date.png')no-repeat 125px 8px;
    cursor: pointer;
    border-radius: 2px;
}
.yp-tea-f button{
	width: 82px;
    height: 35px;
    background: #fc6e51;
    color: white;
    border-radius: 3px;
    vertical-align: top;
    margin-top: -1px;
}
.yp-tea-l{
	float: right;
}
.yp-tea-l .tea-sj{
	width: 82px;
    height: 35px;
    background: #fc6e51;
    color: white;
    border-radius: 3px;
}
.yp-tea-l .tea-ck{
	width: 110px;
	height: 35px;
    background: #fc6e51;
    color: white;
    margin: 0px 18px;
    border-radius: 3px;
}
.yp-tea-l input{
	border:1px solid white;
    width: 240px;
    height: 32px;
    margin-right: 15px;
    background: url('../images/yp-fd.png')no-repeat 208px 0px #ebe9e9;
    border-radius: 2px;
}
.yp-tea-q{
	margin-top: 15px;
	border-top:1px solid #b5b5b5;
}
.yp-tea-q select{
	margin-top: 15px;
	width: 112px;
	height: 32px;
	border:1px solid #fc6e51;
	color: #fc6e51;
	margin-right: 15px;
	border-radius: 2px;
}
.yp-tea-qq{
	margin-top: 20px;
}
.yp-tea-qq input{
	width: 15px;
	height: 15px;
}
.yp-tea-qq label{
	color: #0081cc;
}
.yp-tea-mz li{
	float: left;
	width: 9em;
	margin-top: 15px;
}
.yp-tea-mz input{
	width: 15px;
	height: 15px;
	vertical-align: top;
    margin-top: 3px;
}
.yp-tea-mz{
    height: 215px;
    overflow-y: auto;
}
.yp-bo h3{
	display: inline-block;
    color: black;
    font-size: 18px;
    margin-right: 15px;
}
.yp-bo{
    margin-top: 40px;
    margin-bottom: 15px;
}
.yp-boo{
	border-top:1px solid #b5b5b5;
}
.yp-boo li{
	position: relative;
	float: left;
    margin: 0px 12px 0px 0px;
}
.yp-boo li:nth-child(5){
	margin-right: 0px;
}
.yp-boo ul{
    margin-top: 15px;
}
.yp-boo button{
	width: 230px;
	height: 54px;
	font-size: 16px;
	color: white;
}
.yp-boo-q1{
	background: #4a74ec;
}
.yp-boo-q2{
	background: #ffc03f;
}
.yp-boo-q3{
	background: #5ec997;
}
.yp-boo-q4{
	background: #9988ff;
}
.yp-boo-q5{
	background: #fe626f;
}
.yp-q1 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
.yp-boo i{
	position: absolute;
    top: 54px;
    left: 105px;
}
.yp-boo-q1 + i{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4a74ec;
    display: none;
}
.yp-boo-q2 + i{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffc03f;
    display: none;
}
.yp-boo-q3 + i{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #5ec997;
    display: none;
}
.yp-boo-q4 + i{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #9988ff;
    display: none;
}
.yp-boo-q5 + i{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fe626f;
    display: none;
}
.yp-cur i{
	display: inline-block;
}
.yp-boo-list img{
	display: none;
	cursor: pointer;
}
.yp-boo-list{
	margin-top: 10px;
    height: 440px;
    overflow-y: auto;
}
.yp-boo-list li{
    float: left;
    width: 127px;
    text-align: center;
    margin-top: 30px;
}
.yp-boo-list li span{
	display: inline-block;
	width: 85px;
	height: 85px;
	background: #ffaf24;
	border-radius: 50%;
	text-align: center;
}
.yp-boo-list li input{
	background: #d69320;
	font-size: 18px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: 10px;
	text-align: center;
	font-size: 36px;
	color: #af6104;
	font-weight: bold;
}
.yp-boo-list li label{
	display: inline-block;
	margin-top: 5px;
}
.yp-bf{
	width: 1200px;
	text-align: center;
	margin-top: 20px;
}
.yp-bf button{
	width: 135px;
	height: 43px;
	background: #ff5e28;
	border-radius: 3px;
	color: white;
}
.yp-infoo{
	height: 1050px;
}
.yp-popup{
	display: none;
	position: fixed;
	width: 450px;
	height: 275px;
	top: 50%;
	left: 50%;
	margin-top: -137.5px;
	margin-left: -225px;
	background: white;
	z-index: 999;
}
.yp-popup dl{
	margin: 15px 25px;
}
.yp-popup dl textarea{
	border:1px solid #bfbfbf;
	width: 403px;
	height: 170px;
	border-radius: 3px;
	margin-top: 10px;
}
.yp-popup dl button{
	width: 70px;
	height: 32px;
	border:none;
	color: white;
	margin: 0px 5px;
}
.yp-qd{
	background:#3594d7;
}
.yp-qx{
	background:#b1b1b1;
}
.yp-popup-b{
	text-align: center;
	margin-top: 10px;
}
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	/*z-index: 1;*/
	z-index: 99;
	position: fixed !important; /*FF IE7*/
	position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
			documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
			document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
.man-nav{
	height: 60px;
	border:2px solid #F08E00;
	position: relative;
}
.man-nav .sp1{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
	cursor: pointer;
}
.man-nav .sp2{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 60px;
	cursor: pointer;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}
.man-nav .sp-o{
	background: #F08E00;
	color: #fff;
}
.h39{
	height: 39px;
	margin: 20px 0;
}
.h39 .b1{
	float: left;
	width: 111px;
	background: #FF5D25;
	height: 39px;
	color: #fff;
}
.h39 .b2{
	display: none;
	float: left;
	width: 111px;
	background: #FF5D25;
	height: 39px;
	color: #fff;
}
.h39 .b3{
	float: right;
	width: 78px;
	background: #DCDCDC;
	height: 39px;
	border:1px solid #B5B5B5;
	color: #333;
}
.h39 .in1{
	float: right;
	height: 37px;
	border:1px solid #dcdcdc;
	line-height: 37px;
	padding-left: 10px;
	width: 220px;
}
.tab-man{
	width: 100%;
}
.tab-man th,
.tab-man td{
	height: 53px;
	border:1px solid #C6C6C6;
	text-align: center;
}
.tab-man td i{
	margin:0 3px;
}
.tab-man td span{
	cursor: pointer;
}
.tab-man td img{
	display: block;
	margin: 18px auto;
}
.yp-info .tab2{
	display: none;
}
.wind-ah{
	display: none;
	position: fixed;
	width: 345px;
	height: 340px;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -172.5px;
	background: white;
	z-index: 999;
	padding:20px;
}
.wind-ah>.d1{
	height: 18px;
	line-height: 18px;
	padding-left: 10px;
}
.wind-ah dl{
	line-height: 56px;
}
.wind-ah dl dd>.d1{
	float: left;
	padding-left: 20px;
	width: 80px;
	height: 56px;
	line-height: 56px;
	font-size: 12px;
}
.wind-ah dl dd>.d2{
	float: left;
	width: 245px;
}
.wind-ah dl dd input[type=text]{
	float: left;
	width: 220px;
	padding-left: 6px;
	border:1px solid #dcdcdc;
	height: 33px;
	line-height: 33px;
	padding-left: 6px;
	margin-top: 10px;
	border-radius: 3px;
}
.wind-ah dl dd>.d2 img,.edit-alert .d2 img{
	float: left;
	width: 78px;
	height: 78px;
	border:1px solid #dcdcdc;
	border-radius: 3px;
	margin: 10px 0 0 0;
}
.wind-ah dl dd>.d2 button,.edit-alert .d2 button{
	float: left;
	width: 65px;
	height: 23px;
	background: #eee;
	border:1px solid #dcdcdc;
	margin:10px 0 0 8px;
}
.wind-ah dl dd>.d2 p{
	float: left;
	width: 150px;
	font-size: 12px;
	line-height: 16px;
	color: #888;
	margin:5px 0 0 8px;
}
.wind-ah dl dd>.d2  input[type=number]{
	border:1px solid #017DDC;
	width: 60px;
	border-radius: 3px;
	text-align: center;
	height: 18px;
	line-height: 18px;
}
.wind-ah dl dd>.d2 label{
	margin-right: 15px;
	cursor: pointer;
}
.wind-ah dl dd>.d2 label input[type=radio]{
	position: relative;
	top: 1px;
	right: 4px;
	margin-left: 0;
}
.wind-ah dl dd .b1{
	width: 70px;
	height: 32px;
	background: #3494D7;
	border:none;
	margin: 0 6px 0 100px;
	color: #fff;
}
.wind-ah dl dd .b2{
	width: 70px;
	height: 32px;
	background: #B1B1B1;
	border:none;
	color: #fff;
}
.yp-info1 {
    position: relative;
    width: 1200px;
    margin: 40px auto;
}
/*award-con*/
.award-div{
	width: 1200px;
	margin: 30px auto;
}
.award-top{
	padding-bottom: 18px;
	border-bottom: 1px solid #b5b5b5;
	margin-bottom: 15px;
}
.award-top .lookapply-btn,.list-out,.award-newadd{
	padding: 9px 18px;
	background: #fb6e52;
	color: #fff;
}
.award-top input[type="text"]{
	padding-left: 5px;
	width: 225px;
	height: 37px;
	border: 1px solid #b5b5b5;
	border-right: none;
}
.award-top input[type="submit"]{
	width: 80px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background: #dcdcdc;
	border: 1px solid #b5b5b5;
	vertical-align: middle;
	margin: -3px 0 0 -4px;
	cursor: pointer;
}
.award-main{
	display: flex;
	justify-content:flex-start;
	flex-wrap:wrap;
}
.award-main .award-inf{
	padding: 8px 8px 10px 8px;
	border: 1px solid #b5b5b5;
	margin:0 25px  20px 0;
}
.award-main .award-inf:nth-child(6n){
	margin-right: 0px !important;
}
.img-wrap img{
	width: 160px;
}
.award-inf .award-list dt{
	display: block;
	line-height: 22px;
	font-weight: bold;
	color: #333;
	margin-top: 6px;
}
.award-inf .apply-look{
	width: 160px;
	height: 28px;
	background: #fb6e52;
	color: #fff;
	font-weight: bold;
	margin-top: 8px;
}
.alert{
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	display: none;
}
.list-alert{
	padding: 0 25px 30px 25px;
	width: 337px;
	margin-left: -194px;
	margin-top: -177px;
}
.edit-alert{
	padding: 0 0px 30px 25px;
	width: 345px;
	margin-left: -194px;
	margin-top: -235px;
}
.alert>dl>dt{
	height: 50px;
	line-height: 50px;
	color: #666;
}
.list-alert dd>table{
	width: 100%;
	text-align: center;
}
.list-alert dd>table>caption{
	margin-bottom: 15px;
}
.list-alert table th{
	height: 31px;
	border:1px solid #eaeaea;
}
.list-alert table td{
	height: 29px;
	border:1px solid #eaeaea;
	color: #666;
}
.alert-bottom{
	padding-top: 24px;
	text-align: center;
}
.alert-bottom .btn-sure,.alert-bottom .btn-esc{
	width: 70px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-weight: bold;

}
.alert-bottom .btn-sure{
	background: #3594d8;
	margin-right: 15px;
}
.alert-bottom .btn-esc{
	background: #b1b1b1;
}
.btn-wrap{
	width: 100%;
	text-align: center;
	padding: 45px 0 30px 0;
}
.btn-wrap .back-btn{
	width: 120px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	background: #3594d8;
	color: #fff;
	font-weight: bold;
}
.hide-con table{
	width:1200px;
	text-align: center; 
	margin-top: 18px;
}
.hide-con table th{
	height: 47px;
	background: #efefef;
	border: 1px solid #e9e9e9;
}
.hide-con table td{
	height: 39px;
	border: 1px solid #e9e9e9;
	color: #666;
}
.hide-con .page-back{
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.hide-con{
	display:none;
}
.btn{
	width: 73px;
	height: 28px;
	line-height: 25px;
	text-align: center;
}
.putaway-btn,.edit-btn{
	background: #fd6d52;
	border: 1px solid #fd6d52;
	color: #fff;
	margin-right: 8px;
}
.dd-wrap{
	margin-top: 10px;
}
.award-list dd{
	color: #666;
}
.del-btn{
	background: #fff;
	border:1px solid #a0a0a0;
}
.takeaway-btn{
	background: #6aa3ea;
	border: 1px solid #6aa3ea;
	color: #fff;
}
.edit-alert .type-name{
	display: inline-block;
	line-height: 35px;
	margin-right: 20px;
	vertical-align: top;
}
.edit-alert>dl>dd{
	margin-bottom: 20px;
}
.edit-alert>dl>dd>input{
	width: 234px;
	height: 33px;
	padding-left: 5px;
	border: 1px solid #bfbfbf;
}
.edit-alert>dl>dd>select{
	width: 238px;
	height: 35px;
	padding-left: 5px;
	border: 1px solid #bfbfbf;
}
.edit-alert .img-up{
	width: 65px;
	height: 23px;
	position: relative;
}
.edit-alert .img-up button{
	position: absolute;
	top: 0;
	left: 0;
}
.edit-alert .img-up input[type="file"]{
	width: 65px;
	height: 23px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.edit-alert .d2 p{
	display: inline-block;
	width: 135px;
	line-height: 18px;
	color: #666;
}
.edit-alert .img-up{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.edit-alert .d2 img{
	margin-right: 8px;
}
.edit-alert .d2 button{
	margin: 0 !important;
}
.edit-alert .d2{
	display: inline-block !important;
	width: 230px !important;
}
.rule-set{
	display: inline-block;
	width: 250px;
	margin-top: 7px;
}
.rule-set>div{
	display: inline-block;
	width: 120px;
	margin-bottom: 12px;
}
.rule-set>div>span{
	display: inline-block;
	width: 4.5em;
	text-align: left;
}
.rule-set>div>input[type="text"]{
	width: 46px;
	height: 18px;
	border: 1px solid #b2b2b2;
}